<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Learn - RERE</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>

  <div class="parallax">
    <div class="center">
      <h1 class="home_title"><span id="title">Learn</span></h1>
    </div>
  </div>
  <div class="root">
    <div class="center">
      <div class="menu">
        <ul>
          <li style="display:block"><a href="/learn/traszka-zwyczajna" class="menu">Traszka Zwyczajna</a></li>
          <li style="display:block"><a href="/learn/ropucha-zielona" class="menu">Ropucha Zielona</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

