<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ropucha Zielona</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>

  <div class="parallax">
    <h1 class="home_title"><span id="title">Ropucha Zielona</span></h1>
  </div>
  <div class="root-blog">
    <div class="center">
      <h1>Wygląd</h1>
      <img style="width: 70vw; height: auto" src="/static/img/ropucha-wyglad.png" alt="Wikipedia, dodał Ivengo(RUS)">
      <h1>Pokarm</h1>
      <p>Ropucha żywi się głównie mrówkami, pająkami, owadami i ich larwami oraz baz kręgowcami lądowymi. Woli polować na lądzie, jedynie wiosną żywi się także bezkręgowcami wodnymi.</p>
      <h1>Tryb życia i siedliska</h1>
      <p>Ropucha zielona jest gatunkiem ciepłolubnym. Podobnie jak traszka, w wodzie przebywa jedynie w okresie godów. Wybiera dobrze nasłonecznione zbiorniki wodne z płycinami. Po godach wychodzi na ląd i zamieszkuje suche lub średnio podmokłe łąki, ogrody, parki i tereny kamieniste. Dobrze toleruje tereny nasłonecznione. Bardzo chętnie przebywa w pobliżu zabudowań ludzkich. Unika lasów i terenów podmokłych. Gdy wychodze na ląd aktywna jeste w nocy natomiast dzień spędza kryjąc się w norach lub pod kamieniami. W sen zimowy zapadają na przełomie września i października, wybudza się w marcu. Zimuje pod kamieniami, w norach oraz w domach. Może żyć aż do 15 lat.</p>

      <img style="width: 70vw; height: auto; margin-top: 30px;" src="/static/img/ropucha.jpeg" alt="Wikipedia, dodał Richard Bratz">

    </div>
  </div>
</body>
</html>

