<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Traszka Zwyczajna</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>

  <div class="parallax">
    <h1 class="home_title"><span id="title" style="font-size:70%">Traszka Zwyczajna</span></h1>
  </div>
  <div class="root-blog">
    <div class="center">
      <h1>Wygląd</h1>
      <img style="width: 70vw; height: auto" src="/static/img/traszka-wyglad.png" alt="@Adobe Stock, instagram: @euinsekten">
      <h1>Pokarm</h1>
      <p>Traszka żywi się drobnymi bezkręgowcami oraz kijankami i jajami innych płazów. Lubi też jeść ślimaki, pająki, dżdżownice, owady i roztocza.</p>
      <h1>Tryb życia i siedliska</h1>
      <p>Traszka jest gatunkiem ziemno wodnym. Do wody wchodzi jedynie na wiosnę na okres godowy oraz rozród, natomiast resztę życia spędza na lądzie. Gdy jest na lądzie najczęściej zamieszkuje lasy liściaste i mieszane oraz pola, łąki i parki. Prowadzi nocny tryb życia, czyli na polowania wychodzi nocą, natomiast w dzień chowa się np. pod kamieniami, korzeniami czy w jamach ziemnych. Od października do listopada zapada w sen zimowy który spędza na lądzie w np. mchu, liściach lub w ściółce. Zimuje najczęściej w gromadach czasami wspólnie z innymi gatunkami płazów. Żyje maksymalnie 14 lat.</p>

      <img style="width: 70vw; height: auto; margin-top: 30px;" src="/static/img/triturus_vulgaris.jpeg" alt="Wikipedia, dodał Anevrisme">
    </div>
  </div>
</body>
</html>

