<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RERE</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>

  <div class="parallax">
    <h1 class="home_title"><span id="title">Welcome to RERE!</span></h1>
  </div>
  <div class="root">
    <div class="center">
      <div class="menu">
        <ul>
          <li style="display:block"><a href="/stations" class="menu">Stations</a></li>
          <li style="display:block"><a href="/info" class="menu">About the RERE</a></li>
          <li style="display:block"><a href="/learn" class="menu">Learn</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

