<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RERE</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>

  <div class="parallax">
    <h1 class="home_title"><span id="title">INDEX</span></h1>
  </div>
  <div class="root">
    <div class="center">
      <div class="menu">
        <ul>
          <li style="display:block"><a href='/stations/0' class="menu">All Stations</a></li>
          <img class="menu-separator" src="/static/img/leaf-solid.svg"/>
          <li style="display:block"><a href='/stations/3' class="menu">Station 3</a></li>
          <img class="menu-separator" src="/static/img/leaf-solid.svg"/>
          <li style="display:block"><a href='/stations/5' class="menu">Station 5</a></li>
          <img class="menu-separator" src="/static/img/leaf-solid.svg"/>
          <li style="display:block"><a href='/stations/11' class="menu">Station 11</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
