<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Traszka Zwyczajna</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>

  <div class="parallax">
    <h1 class="home_title"><span id="title">Learn</span></h1>
  </div>
  <div class="root">
    <div class="center">
      asdf
    </div>
  </div>
</body>
</html>

