@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;600&display=swap');

body {
  font-family: 'Mukta', sans-serif;
  height: 100%;
  margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.parallax {
  background-image: url('/static/img/chris-a-unsplash.jpg');

  height: 40%;

  /* actuall parallax */
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home_title {
  position: absolute;
  color: white;
  font-size: 100px;
  margin-bottom: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.root {
  position: relative;
  margin: 8px;
  text-align: center;
}

.menu {
  font-size: 150%;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.menu:hover {
  color: rgba(126, 165, 116, 0.5);
}

.menu-separator {
  width: 15px;
  height: 15px;
  color: rgba(126. 165, 116, 0.5); /* doesnt work */
}

.chart-container {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 70%;
  text-align: center;
}

/* table properities */
th {
  background-color: rgba(126, 165, 116, 0.5);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  /*width: 100%;*/
  text-align: center;
}

tr:hover {
  background-color: rgba(126, 165, 116, 0.5);
}


/* GLOBAL CLASSES */

a:link {
  text-decoration: none;
  color: black;
}

a.visited {
  text-decoration: none;
  color: black;
}

ul {
  padding:0;
}
